@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="https://localhost:7208/Home/AllContacts">Liste de contacts</a>
    <a href="https://localhost:7208/Home/NewContact">Ajouter un contact</a>
    <a href="https://localhost:7208/Home/Contact/Toto">Toto</a>
</div>
