@using TPTodolist.Models
<div class="d-inline-flex align-items-center gap-2 p-2 border rounded">
    <input type="checkbox" checked="@Task.IsCompleted" @onchange="OnCompletedChanged"/>
    <p>@Task.Name</p>
    @if(ShowDate){
        <p>@Task.DateCreated</p>
    }
    <button @onclick="Delete">Supprimer</button>
</div>

@code {
    [Parameter] public TodoTask Task { get; set; }
    [Parameter] public EventCallback<TodoTask> OnDelete { get; set; }
    [Parameter] public EventCallback OnStatusChanged { get; set; }
    [Parameter] public bool ShowDate { get; set; }

    private Task OnCompletedChanged(ChangeEventArgs e)
    {
        Task.IsCompleted = (bool)e.Value!;
        return OnStatusChanged.InvokeAsync();
    }

    private async Task Delete() 
    {
        await OnDelete.InvokeAsync(Task);
    }
}
