<h3>ProductCart</h3>

<div class="card h-100 @(IsSelected ? "border-primary border-2" : "")">
    <div class="card-body">
        <h5 class="card-title">@Titre</h5>
        <p class="card-text text-muted">@Description</p>
        <p class="card-text fs-4 fw-bold text-success">@Price.ToString("C")</p>
        <button class="btn btn-primary" @onclick="() => OnBuy.InvokeAsync(Titre)">🛒 Acheter</button>
    </div>
    @if (IsSelected)
    {
        <div class="card-footer bg-primary text-white">✅ Sélectionné</div>
    }
</div>




@code {
    [Parameter]
    public string Titre { get; set; } = "";

    [Parameter] public string Description { get; set; } = "";
    [Parameter] public decimal Price { get; set; }
    [Parameter] public bool IsSelected { get; set; }
    [Parameter] public EventCallback<string> OnBuy { get; set; }


}
